.navbar{
    background-color: #81CEEB;
    width: 100%;
    display: flex;
}

.navbar li{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.navbar h1{
    margin-left: 2%;
}